body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.search {
  background: #ffb26b;
  padding: 30px;
  margin: 15px;
  width: 100%;
  font-size: 4em;

  input {
    font-size: 1em;
  }
}

#tripContainer {
  background: #939b62;
}

.icon {
  height: 150px;
  width: 150px;
}

.weatherContainer {
  background-color: #ff7b54;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 30px;
}

.eachTrip {
  display: grid;
  padding: 20px;
  grid-gap: 10px;
}

.cityImg {
  grid-column: 1/-1;
}
.tripHeader {
  grid-column: 1/-1;
  color: white;
  padding: 20px;
  margin: 10px;
}

.dateIcon {
  display: grid;
  grid-column: 1fr;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
}

.histDateDesc {
  display: grid;
  grid-column: span 6;
  justify-content: center;
  align-items: center;
}

.descContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 3em;
}

.descHistContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 3em;
}