body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
}

form {
  display: grid;
  grid-template-columns: 1fr;
}

.headline {
  font-size: 3em;
}

.dates {
  display: grid;
  grid-template-columns: 1fr;
}

.search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  background: #ffb26b;
  text-align: start;
  justify-content: start;
  padding: 30px;
  margin: 15px;
  width: 100%;
  font-size: 2em;

  input {
    font-size: 1em;
  }
}

#tripContainer {
  background: #939b62;
}

.icon {
  height: 150px;
  width: 150px;
}

.weatherContainer {
  background-color: #ff7b54;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 30px;
  grid-gap: 10px;
}

.eachTrip {
  display: grid;
  padding: 20px;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.cityImg {
  max-width: 100%;
  max-height: 100%;
}
.tripHeader {
  grid-column: 1/-1;
  color: white;
  padding: 20px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.dateIcon {
  display: grid;
  grid-column: 1fr;
  text-align: center;
  justify-content: center;
  grid-column: span 2;
  border: 10px solid black;
  max-height: 100%;
}

.histDateDesc {
  display: grid;
  grid-column: span 6;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
}

.descContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 4;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border: 10px solid black;
  max-width: 100%;
  max-height: 100%;

  h6 {
    margin: 10px;
  }
}

.descHistContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 6;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border: 10px solid black;
  h6 {
    margin: 10px;
  }
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px;
}

@media only screen and (min-device-width: 650px) {
  .eachTrip {
    display: flex;
    flex-wrap: wrap;
  }
  .dateIcon {
    grid-column: span 3;
    font-size: 0.85em;
  }
  .descContainer {
    grid-column: span 3;
    grid-template-columns: 1fr;
    font-size: 1.5em;
  }
  .tripHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .weatherContainer {
    padding: 5px;
    grid-gap: 5px;
    grid-template-columns: repeat(2fr, auto);
    text-align: center;
    justify-content: center;
  }
  .icon {
    max-width: 50%;
    max-height: 50%;
    padding: 0;
    margin: 0;
  }
  figure {
    max-height: 600px;
    max-width: 450px;
    margin: 10px;
    justify-content: center;
  }
  .cityNameDiv {
    grid-column: span 2;
  }
}
