body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.search {
  background: #ffb26b;
  padding: 30px;
  margin: 15px;
  width: 100%;
  font-size: 4em;

  input {
    font-size: 1em;
  }
}

#tripContainer {
  background: #939b62;
}

.icon {
  height: 150px;
  width: 150px;
}

.weatherContainer {
  background-color: #ff7b54;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px;
}

.eachTrip {
  display: grid;
}

.cityImg {
  grid-column: 1/-1;
}
.tripHeader {
  grid-column: 1/-1;
}
